<?xml version="1.0" encoding="utf-8"?>  
<RunSettings>  
  <RunConfiguration>
    <MaxCpuCount>0</MaxCpuCount>  
    <ResultsDirectory>.\TestResults</ResultsDirectory>  
    <TargetPlatform>x86</TargetPlatform>  
    <TargetFrameworkVersion>Framework45</TargetFrameworkVersion>  
  </RunConfiguration>  
  <MSTest> 
	  <SettingsFile>D:\Visual Studio 2015\Projects\BrowserTestAdapter\Tests\settings.testsettings</SettingsFile> 
	  <ForcedLegacyMode>true</ForcedLegacyMode> 
  </MSTest> 
</RunSettings>  